# Core Libraries
pandas==2.2.3
numpy==1.26.0
scipy==1.13.0
matplotlib==3.9.2
seaborn==0.13.2

# Machine Learning
scikit-learn==1.6.1
xgboost==2.0.3

# Geospatial Analysis
geopandas==0.14.4
pyproj==3.7.1
shapely==2.1.0
pyogrio==0.10.0
rtree==1.2.0

# Interactive Maps
folium==0.16.0

# Jupyter Notebook Support
jupyter
ipykernel
